:root {
  --font-base: 1em;
  --font-ratio: 1.333;
  --font-leading: 1.45;
  --spacing-unit: 1.3rem;
  --spacing-headings: 1.414em;
  --color-primary: #2eb872;
  --color-secondary: #a3de83;
  --color-body: #feffe4;
  --color-complementary: #fa4659;
}
